

.card img{
    height: 230px;
    width: 100%;
    object-fit: cover;
    border-radius: 11px;
}
.card{
    text-decoration: none;
}
.viewandday{
    color: #555;
}

.container .feed{
    /* border: 20px solid brown; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.large-container .feed img{
    height: 190px;
}
.large-container .feed{
    /* border: 1px solid red; */
    grid-template-columns: repeat(auto-fit, minmax(279px, 1fr));
}
.feed{
    
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
}
.card h2{
    font-size: 19px;
    font-weight: 600;
    color: black;
    margin: 5px auto;
}
.card h3{
    font-size: 16px;
    font-weight: 600;
    color: #555;
    margin: 6px auto;
}
.card p{
    font-size: 14px;
}
.whitedark{
    color: white !important;
}