.sidebar{
    font-family: 'Roboto', sans-serif;
    width: 16%;
    position: fixed;
    /* position: inherit; */
    /* display: flex; */
    /* background-color: orange; */
    z-index: 200;
    top: 107px;
    /* overflow-y: overlay; */
    overflow: scroll;
}



.nav{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.sidebar::-webkit-scrollbar {
    /* display: none; */
    background-color: white;
    width:8px;
}



.sidebar::-webkit-scrollbar-thumb {
    background: #b1b1b1; /* Change this to the color you want */
    display: none;
    
} 
.sidebar:hover::-webkit-scrollbar-thumb{
    display: block;
}


.nav a{
    text-decoration: none;
    color: black;
    /* margin: 20px; */
    /* border: 2px solid orange; */
    height: 46px;
    /* background-color: #f3f3f0; */
    border-radius: 12px;
    font-size: 14px;
    padding-top: 4px;
    width: 100%;
    margin-left: 0px;
}
.nav a:hover{
    
    background-color: #f3f3f0;
}
.navlink span{
    margin-left: 10px;
}
.sidebaricons{
    margin-left: 8px;
    font-size: 100px;
    /* background-color: aqua; */
    padding-top: 5px;
    position: relative;
    top: 6px;
}
.sectionofnav{
    display: flex;
    flex-direction: column;
    width: 86%;
    left: 9px;
    position: relative;

    border-bottom: 1px solid rgb(183, 182, 182);
}
.topofyouinnav{
    /* background-color: yellow; */
    padding-bottom: 5px;
}
.youinnav{
    padding-top: 5px;
    padding-bottom: 13px;
}
.sidebar-no-icons{
    /* border: 2px solid blue; */
    font-size: 16px;
    padding-left: 5px;
}
.sidebar-no-icon{
    position: relative;
    top: 6px;
    left: 0px;
}

.notbutton{
    padding-top: 5px;
    position: relative;
    left: 14px;
    font-size: 16px;
    font-weight: 600;
    /* width: 64px; */
    margin-bottom: 17px;
    height: 27px;
    top: 19px;
    /* background-color: blanchedalmond; */
}
.small-sidebar{
    width: 5%;
    overflow: hidden;
}
.small-sidebar span{
    display: none;
}
.small-sidebar .sidebar-no-icons{
    display: none;
}
.small-sidebar a{
    display: none;
}
.small-sidebar .toshowsidee{
    display: none;
    display:inline;
} 
.small-sidebar .sectionofnav{
    border-bottom:none;
}
