.sidebar{
    font-family: 'Roboto', sans-serif;
    width: 16%;
    position: fixed;
    z-index: 200;
    top: 107px;
    /* overflow: scroll; */
}



.nav{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

/* .sidebar::-webkit-scrollbar {
    background-color: white;
    width:8px;
} */



/* .sidebar::-webkit-scrollbar-thumb {
    background: #b1b1b1; 
    display: none;
    
}  */
/* .sidebar:hover::-webkit-scrollbar-thumb{
    display: block;
} */


.nav a{
    text-decoration: none;
    color: black;
    height: 46px;
    border-radius: 12px;
    font-size: 14px;
    padding-top: 4px;
    width: 100%;
    margin-left: 0px;
}
.nav a:hover{
    
    background-color: #f3f3f0;
}
.side-link span{
    margin-left: 10px;
}
.sidebaricons{
    margin-left: 8px;
    font-size: 100px;
    padding-top: 5px;
    position: relative;
    top: 6px;
}
.sectionofnav{
    display: flex;
    flex-direction: column;
    width: 86%;
    left: 9px;
    position: relative;

    /* border-bottom: 1px solid rgb(183, 182, 182); */
}
.topofyouinnav{
    padding-bottom: 5px;
}
.youinnav{
    padding-top: 5px;
    padding-bottom: 13px;
}
.sidebar-no-icons{
    font-size: 16px;
    padding-left: 5px;
}
.sidebar-no-icon{
    position: relative;
    top: 6px;
    left: 0px;
}

.notbutton{
    padding-top: 5px;
    position: relative;
    left: 14px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 17px;
    height: 27px;
    top: 19px;
}
.small-sidebar{
    width: 5%;
    overflow: hidden;
}
.small-sidebar span{
    display: none;
}


.small-sidebar .sectionofnav{
    border-bottom:none;
}


@media (max-width:900px){
    .sidebar{
        display: none;
    }
     
}

.dark{
    background-color: #171b1e !important;
    /* color: whitesmoke !important; */
    color: rgb(164, 162, 162) !important;

}